<footer class="footer" [ngClass]="{ hidden: noTodoClass$ | async }">
  <span class="todo-count">
    <strong>{{ activeCount$ | async }}</strong>
    {{ itemsLeftText$ | async }}
  </span>
  <ul class="filters">
    <li>
      <a
        href="/"
        [ngClass]="{ selected: (filter$ | async) === filterEnum.all }"
        (click)="changeFilter($event, filterEnum.all)"
      >
        All
      </a>
    </li>
    <li>
        <a
          href="/"
          [ngClass]="{ selected: (filter$ | async) === filterEnum.active }"
          (click)="changeFilter($event, filterEnum.active)"
        >
          Active
        </a>
      </li>
      <li>
        <a
          href="/"
          [ngClass]="{ selected: (filter$ | async) === filterEnum.completed }"
          (click)="changeFilter($event, filterEnum.completed)"
        >
          Completed
        </a>
      </li>
  </ul>
</footer>
