<header class="header">
  <h1>todos</h1>
  <input
    autofocus
    class="new-todo"
    placeholder="What need to be done?"
    [value]="text"
    (keyup)="changeText($event)"
    (keyup.enter)="addTodo()"
  />
</header>
