<!-- <p>{{visibleTodos$ | async | json}}</p> -->

<section class="main" [ngClass]="{ hidden: noTodoClass$ | async }">
  <!-- Whenever the noTodoClass$ Observable emits a new value, the async pipe receives it. -->
  <input
    id="toggle-all"
    type="checkbox"
    class="toggle-all"
    [checked]="isAllTodosSelected$ | async"
    (change)="toggleAllTodos($event)"
  />
  <label for="toggle-all">Mark all as completed</label>
  <ul class="todo-list">
    <app-todos-todo
      *ngFor="let todo of visibleTodos$ | async"
      [todo]="todo"
      [isEditing]="editingId === todo.id"
      (setEditingId)="setEditingId($event)"
    ></app-todos-todo>
  </ul>
</section>
